<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Build" version="17.14.8" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="17.14.8" targetFramework="net48" />
  <package id="Microsoft.Build.Utilities.Core" version="17.14.8" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.Cli.Utils" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.IO.Redist" version="6.1.3" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.14.8" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net48" />
  <package id="NuGet.Common" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.Configuration" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.DependencyResolver.Core" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.LibraryModel" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.Packaging" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.Packaging.Core" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.ProjectModel" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.Protocol" version="6.14.0" targetFramework="net48" />
  <package id="NuGet.Versioning" version="6.14.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.5" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.5" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" targetFramework="net48" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.5" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.5" targetFramework="net48" />
  <package id="System.Reflection.MetadataLoadContext" version="9.0.5" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.5" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.5" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="9.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>