
@{
    ViewBag.Title = "ContactUs";
}



<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Contacte - Cosmetic Shop</title>
</head>
<body>
    <section>
        <h2>Contacte</h2>
        <p><strong>Informații de contact</strong></p>
        <p>Ne puteți contacta scriindu-vă întrebările sau reclamația în formularul de feedback.</p>

        <h3>Numere de contact:</h3>
        <ul>
            <li><strong>Online Magazin:</strong> +373 (79) 111-111</li>
            <li><strong>Departamentul de marketing:</strong> +373 (78) 222-222</li>
            <li><strong>Vânzări angro:</strong> +373 (69) 333-333</li>
        </ul>

       

        <p>Pentru solicitările de colaborare și/sau sponsorizare, completați formularul dat.</p>

      
    </section>
</body>
</html>
